body {
  font-family: 'Ubuntu';
}
h1 {
  color: black;
  text-align: center;
  font-size: 64px;
}
p {
  color: black;
  text-align: center;
  font-size: 32px;
}
.icon {
  display: inline-block;
  vertical-align: middle;
  border-radius: 50%;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  
}
#linkedin {
  margin: auto;
}
#mail {
}
