body {
  font-family: 'Ubuntu';
}
h1 {
  color: black;
  text-align: center;
  font-size: 64px;
}
p {
  color: black;
  text-align: center;
  font-size: 32px;
}
.icon {
  display: inline-block;
  vertical-align: middle;
}
#linkedin {
  margin: auto;
}
#mail {
}
