h1 {
  color: black;
  text-align: center;
  font-size: 64px;
  font-family: 'Ubuntu';
}
p {
  color: black;
  text-align: center;
  font-size: 32px;
}
.icon {
    border: 3px solid black;
}
#linkedin {
  display: block;
  margin: auto;
}
